@font-face {
    font-family: "Maison Neue Book"; 
    src: url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot"); 
    src: url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff") format("woff"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.svg#Maison Neue Book") format("svg"); 
}
*{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: "Maison Neue Book";
}