@font-face {
    font-family: "Maison Neue Book"; 
    src: url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot"); 
    src: url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff") format("woff"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.svg#Maison Neue Book") format("svg"); 
}
*{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: "Maison Neue Book";
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    z-index: 99;
    transition: ease .7s;
    border-bottom: solid 1px gray;
}
header:hover{
    background-color: #402b56;
}
header img{
    width: 7.5rem;
    margin-right: 10em;
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
header nav a{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
    position: relative;
}
header nav a::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 1.5em;
    height: 2px;
    background-color: white;
    width: 0;
    transition: all .3s;
}
header nav a:hover::after{
    left: 0;
    width: 100%;
}
header nav div{
    width: 4px;
    height: 4px;
    background-color: #494553;
    border-radius: 50%;
}


#home{
    background: url('https://toulousefc.com/sites/default/files/2022-04/Pano_0.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: zoomOut 10s ease-in-out forwards;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}


@keyframes zoomOut {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}